
body {
   background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    color: rgb(210, 16, 52);
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;;
}
.header{
    border-style: solid;
    border-left-color: rgb( 0, 32, 159);
    border-right-color:rgb( 0, 32, 159);
    border-top-color: rgb(210, 16, 52);
    border-bottom-color: rgb(210, 16, 52);
    padding: 10px;
    margin: 20px;
    border-width: 15px;
}

#top{
    display: flex;
    gap:5px
}

#left-head{
    text-align: left;
    font-size: 20px;
    border-style: solid;
    border-color: rgb( 0, 32, 159);
    border-width: 4px;
    width: 50%;
    margin: 0px;
}
#right-head{
    text-align: right;
    font-size: 20px;
    border-style: solid;
    border-color: rgb( 0, 32, 159);
    border-width: 4px;
    width: 50%;
    margin: 0px;
}
p {
    font-size: 20px;
    line-height: 1.3;
    margin: 10px;
    text-align: left;
    width: 50%;
}

#greatFood{
    float: right;
    width: 50%;;
    height: 441px
}
.main {
    display: flex;
}
h2 {
    font-size: 30px;
    color: rgb(0, 32, 159);
    margin: 10px;
    text-align: center;
}
