
#restaurantLogo {
    width: auto;
    height: 75px; 
    display: block;
}

.navbar {
    background-color:rgb(97, 13, 29);
    height: 80px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}


.nav-menu > li > a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 30px;
}

.nav-menu > li > a:hover {
    background-color: #172467;
    border-radius: 40px;
}
.nav-menu > li > a:visited {
    color: purple;
}



