
#restaurantLogo {
    width: auto;
    height: 75px; 
    display: block;
}

.navbar {
    background-color:rgb(97, 13, 29);
    height: 80px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}


.nav-logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 0; /* Small padding to prevent touching edges */
}


.nav-logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-logo img {
    height: 40px;
    width: auto;
}

/* Navigation Menu */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;;
}


.nav-menu > li > a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 30px;
}

.nav-menu > li > a:hover {
    background-color: #172467;
    border-radius: 40px;
}












.nav-logo img {
    height: 70px; /* Nearly fills the navbar */
    width: auto;
    max-height: 100%; /* Prevent overflow */
}